<%=stylesheet_link_tag "navigatecss" %>
<div class='simplecss-navigate'>
<a href="#" class="simplecss-navigate-current"><span>Index Page</span></a>
<a href="#"><span>Show Page</span></a>
<a href="#"><span>Product Page</span></a>
<a href="#"><span>Download Page</span></a>
<a href="#"><span>Sign Up | Sign Out</span></a>
</div>
