.simplecss-navigate{
  border-bottom: 3px solid #579CC6;
  font-weight: bold;
  margin: 0 auto;
  text-align: center;
}
.simplecss-navigate a {
  background: url("../images/navigate.jpg") no-repeat scroll left bottom transparent;
  color: #666666;
  cursor: pointer;
  display: inline-block;
  height: 25px;
  padding-left: 15px;
  text-decoration: none;
}
.simplecss-navigate a span{
  background: url("../images/navigate.jpg") no-repeat scroll right bottom transparent;
  display: inline-block;
  line-height: 25px;
  height: 25px;
  padding-right: 15px;
}
a.simplecss-navigate-current{
  background: url("../images/navigate.jpg") no-repeat scroll left top transparent;
  color: #FFFFFF;
}
a.simplecss-navigate-current span{
  background: url("../images/navigate.jpg") no-repeat scroll right top transparent;
}
.simplecss-navigate a:hover {
  background:url("../images/navigate.jpg") left top no-repeat; color:#FFF;
}
.simplecss-navigate a:hover span {
  background:url("../images/navigate.jpg") right top no-repeat;
}
#simplecss-header{
  margin: 0;
  padding: 0;
}

a.simplecss-navigate-right{
  font-size: 14px;
  float: right;
  background-image: none;
  text-decoration: underline;
}
a.simplecss-navigate-right:hover {
  background-image: none;
  color: #666666;
  text-decoration: none;
}
